---
layout: home
title: BIMstandards
comments: false
permalink: /
---

<div class="bs-pageheader d-print-none">
  <div class="container">
    <div class="row">
      <div class="col-auto logo-bsfm d-flex align-items-center">
        <img src="{{ site.url }}/assets/img/logo_buildingsmart-france_blanc.png" alt="logo buildingSMART France-Mediaconstruct">
      </div>
      <div class="col">
        <h1>{{ site.title }}</h1>
        <p class="lead">
          {{ site.description }}
        </p>
      </div>
    </div>
  </div>
</div>
  
<div class="container container-index">

  <div class="row">
    <div class="col-12 col-lg-9 order-2 order-lg-1">
      <div class="row" id="data-bim">
        <div class="col-12">
          <h2>
            Data BIM
            <small class="text-muted"></small>
          </h2>
        </div>
        {% assign pages_sorted = site.data-bim | sort: 'ordre' %}
        {% for page in pages_sorted %}
          <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card">
              <a href="{{ page.url }}"></a>
              <div class="card-body">
                <p>
                  <i class="fa fa-{{ page.icon }}"></i>
                </p>
                <h5 class="card-title">{{ page.title }}</h5>
                <p class="card-text">
                  {{ page.description }}
                </p>
                {% if page.status == 'draft' %}
                  <span class="badge badge-warning">bientôt disponible</span>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
      <div class="row" id="process-bim">
        <div class="col-12">
          <h2>
            Process BIM
            <small class="text-muted"></small>
          </h2>
        </div>
        {% assign pages_sorted = site.process-bim | sort: 'ordre' %}
        {% for page in pages_sorted %}
          <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card">
              <a href="{{ page.url }}"></a>
              <div class="card-body">
                <p>
                  <i class="fa fa-{{ page.icon }}"></i>
                </p>
                <h5 class="card-title">{{ page.title }}</h5>
                <p class="card-text">
                  {{ page.description }}
                </p>
                {% if page.status == 'draft' %}
                  <span class="badge badge-warning">bientôt disponible</span>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
      <div class="row" id="travailler-avec-les-ifc">
        <div class="col-12">
          <h2>
            Travailler avec les IFC
            <small class="text-muted"></small>
          </h2>
        </div>
        {% assign pages_sorted = site.travailler-avec-les-ifc | sort: 'ordre' %}
        {% for page in pages_sorted %}
          <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card">
              <a href="{{ page.url }}"></a>
              <div class="card-body">
                <p>
                  <i class="fa fa-{{ page.icon }}"></i>
                </p>
                <h5 class="card-title">{{ page.title }}</h5>
                <p class="card-text">
                  {{ page.description }}
                </p>
                {% if page.status == 'draft' %}
                  <span class="badge badge-warning">bientôt disponible</span>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
      <div class="row" id="echanger-en-bim">
        <div class="col-12">
          <h2>
            Fiches pratiques
            <small class="text-muted"></small>
          </h2>
        </div>
        {% assign pages_sorted = site.echanger-en-bim | sort: 'ordre' %}
        {% for page in pages_sorted %}
          <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card">
              <a href="{{ page.url }}"></a>
              <div class="card-body">
                <p>
                  <i class="fa fa-{{ page.icon }}"></i>
                </p>
                <h5 class="card-title">{{ page.title }}</h5>
                <p class="card-text">
                  {{ page.description }}
                </p>
                {% if page.status == 'draft' %}
                  <span class="badge badge-warning">bientôt disponible</span>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-12 col-lg-3 order-1 order-lg-2">
      <!-- 
      {% include box-com.html %}
       -->
      {% include box-sponsoring-vertical.html %}
      {% include box-dernieres-fiches.html %}
    </div>
  </div>
  

</div>
