---
layout: home
title: BIMstandards
comments: false
permalink: /
---

<div class="bs-pageheader d-print-none">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-auto logo-bsfm d-flex align-items-center">
        <img src="{{ site.url }}/assets/img/logo_buildingsmart-france_blanc.png" alt="logo buildingSMART France-Mediaconstruct">
      </div>
      <div class="col-12 col-md-9">
        <h1>{{ site.title }}</h1>
        <p class="lead">
          {{ site.description }}
        </p>
      </div>
    </div>
  </div>
</div>
  
<div class="container container-index">

  <div class="row d-none">
    <div class="col-12">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"></h4>
        <p></p>
        <hr>
        <p class="mb-0"></p>
      </div>
    </div>
  </div>
  
  <div class="row" id="echanger">
    <div class="col-12">
      <h2>
        Echanger en BIM
        <small class="text-muted"></small>
      </h2>
    </div>
    {% assign pages_sorted = site.echanger-en-bim | sort: 'ordre' %}
    {% for page in pages_sorted %}
      <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="card">
          <a href="{{ page.url }}"></a>
          <div class="card-body">
            <h4 class="card-title">
              <small class="text-muted"><i class="fa fa-{{ page.icon }}"></i></small>
              {{ page.title }}
            </h4>
            <h6 class="card-subtitle text-muted">{{ page.description }}</h6>
            {% if page.status == 'draft' %}
              <span class="badge badge-warning">bientôt disponible</span>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  
  <div class="row" id="travailler">
    <div class="col-12">
      <h2>
        Travailler avec les IFC
        <small class="text-muted"></small>
      </h2>
    </div>
    {% assign pages_sorted = site.travailler-avec-les-ifc | sort: 'ordre' %}
    {% for page in pages_sorted %}
      <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="card">
          <a href="{{ page.url }}"></a>
          <div class="card-body">
            <h4 class="card-title">
              <small class="text-muted"><i class="fa fa-{{ page.icon }}"></i></small>
              {{ page.title }}
            </h4>
            <h6 class="card-subtitle text-muted">{{ page.description }}</h6>
            {% if page.status == 'draft' %}
              <span class="badge badge-warning">bientôt disponible</span>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
