---
layout: page
---

<div class="sixteen wide column">
  <div class="ui secondary segment">
    <p></p>
    <h3 class="ui header">Bienvenue sur BIMstandards</h3>
    <p>Ce site est destiné à regrouper les meilleurs ressources web sur les standards du BIM et de la maquette numérique.</p>
    <p>Vous pouvez y <a href="https://github.com/alexandregrignon/ressources-du-bim" target="_blank">contribuer sur github</a>.</p>
    <p></p>
  </div>
</div>
<div class="ui hidden divider"></div>
{% include les-bases.html %}
{% include implementation.html %}
{% include collaboration.html %}
{% include guides.html %}
{% include normalisation.html %}
{% include gestion-patrimoine.html %}
{% include logiciels.html %}
