<div class="row">
  <div class="col-12 bg-light rounded">
    <p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t3ECK4U0QeI?rel=0" allowfullscreen></iframe>
      </div>
    </p>
    <p>
      <a href=""><img src="http://via.placeholder.com/800x450?text=lien" class="img-fluid" alt="Responsive image"></a>
    </p>
    <p>
      <a class="btn btn-secondary btn-block" href="http://www.mediaconstruct.fr/sinformer/agenda-du-bim" role="button"><i class="fa fa-calendar" aria-hidden="true"></i> Agenda du BIM</a>
    </p>
  </div>
</div>
