<div class="container">
  <div class="row">
    <div class="col-12 mb-2 bg-light rounded">
      <div class="row pt-3">
        <div class="col-12 col-sm-3">
          <p><small class="text-muted">Ils soutiennent bSFrance :</small></p>
        </div>
        <div class="col-4 col-sm-3">
          <p>
            <a href=""><img src="https://via.placeholder.com/600x400" class="img-fluid" alt="Responsive image"></a>
          </p>
        </div>
        <div class="col-4 col-sm-3">
          <p>
            <a href=""><img src="https://via.placeholder.com/600x400" class="img-fluid" alt="Responsive image"></a>
          </p>
        </div>
        <div class="col-4 col-sm-3">
          <p>
            <a href=""><img src="https://via.placeholder.com/600x400" class="img-fluid" alt="Responsive image"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
