<div class="container">
  <div class="row">
    <div class="col-12 mb-2 bg-light rounded">
      <div id="sponsoring" class="row pt-3">
        <div class="col-12 col-sm-3">
          <p><a href="{{ site.baseurl }}/sponsoring"><small class="text-muted">Ils soutiennent BIMstandards :</small></a></p>
        </div>
        {% for sponsor in site.data.sponsoring %}
        <div id="sponsor" class="col-4 col-sm-3">
          <p>
            <a href="{{ sponsor.href }}" onclick="trackOutboundLink('{{ sponsor.href }}'); return false;" title="{{ sponsor.alt }}"><img src="{{ site.url }}/assets/img/sponsoring/{{ sponsor.src }}" class="img-fluid" alt="{{ sponsor.alt }}"></a>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
