<div class="row">
  <div class="col-12 pt-3 mb-3 bg-light rounded">
    <p><a href="{{ site.baseurl }}/sponsoring"><small class="text-muted">Ils soutiennent bSFrance :</small></a></p>
    <div id="sponsoring" class="row">
      {% for sponsor in site.data.sponsoring %}
      <div id="sponsor" class="col-4 col-md-12">
        <p>
          <a href="{{ sponsor.href }}"><img src="{{ sponsor.src }}" class="img-fluid" alt="{{ sponsor.alt }}"></a>
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<javascript>
  
</javascript>
