<div class="row">
  <div class="col-12 pt-3 mb-3 bg-light rounded">
    <p><small class="text-muted">Ils soutiennent bSFrance :</small></p>
    <div class="row">
      <div class="col-4 col-md-12">
        <p>
          <a href=""><img src="https://via.placeholder.com/600x400" class="img-fluid" alt="Responsive image"></a>
        </p>
      </div>
      <div class="col-4 col-md-12">
        <p>
          <a href=""><img src="https://via.placeholder.com/600x400" class="img-fluid" alt="Responsive image"></a>
        </p>
      </div>
      <div class="col-4 col-md-12">
        <p>
          <a href=""><img src="https://via.placeholder.com/600x400" class="img-fluid" alt="Responsive image"></a>
        </p>
      </div>
    </div>
  </div>
</div>
