<hr>
<p class="pull-left">
  <a target="_blank" data-proofer-ignore href="{{ site.github.repository_url }}/edit/gh-pages/{{ page.path }}">
    <i class="fa fa-pencil"></i>
    Améliorer cette page
  </a>
   - 
  <a target="_blank" data-proofer-ignore href="{{ site.github.repository_url }}/commits/gh-pages/{{ page.path }}">
   <i class="fa fa-history"></i>
   Voir l'historique
  </a>
   - 
  <a target="_blank" data-proofer-ignore href="{{ site.github.issues_url }}/new">
    <i class="fa fa-exclamation-circle"></i>
    Soumettre une remarque
  </a>
</p>
<p class="pull-right">
  Partager :
  <a target="_blank" title="Twitter" href="https://twitter.com/share?url={{ page.url | prepend:site.url }}&text={{ page.title }}&via=BIMstandards" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;">
    <i class="fa fa-twitter-square"></i>
  </a>
  <!-- http://korben.info/bouton-partage-twitter-facebook-sans-tracking.html -->
</p>