<footer class="bs-footer text-muted" role="contentinfo">
  <div class="container">
    <ul class="bs-footer-links d-print-none">
      <li><a data-proofer-ignore href="{{ site.github.repository_url }}" target="_blank">GitHub</a></li>
      <li><a href="https://twitter.com/bimstandards" target="_blank">Twitter</a></li>
      <li><a href="/blog/">Blog</a> (<a href="{{ site.url }}/feed.xml">RSS</a>)</li>
      <li><a href="/apropos/">A propos</a></li>
    </ul>
    <p>BIMstandards, la documentation collaborative sur les standards openBIM. </p>
    <p>Créé par <a href="https://fr.linkedin.com/in/alexandregrignon" target="_blank">Alexandre Grignon</a>, avec l'aide de <a href="{{ site.github.repository_url }}/graphs/contributors" target="_blank">contributeurs</a>.</p>
    <p>{{ site.version }}. Licence <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.fr" target="_blank">CC BY-SA 4.0</a>.</p>
  </div>
</footer>

<script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="/assets/js/toc.js"></script>
<!-- <script src="/assets/js/anchor.min.js"></script> -->
<script src="/assets/js/list.min.js"></script>
<script src="/assets/js/list.fuzzysearch.js"></script>
<script src="/assets/js/pdfjs/build/pdf.js"></script>
<script src="/assets/js/pdfjs/build/pdf.worker.js"></script>
<script src="/assets/js/tablefilter/tablefilter.js"></script>

<!-- toc.js -->
<script type="text/javascript">
  $(document).ready(function() {
      $('#toc').toc({ headers: 'h1, h2' });
  });
</script>

<!-- https://css-tricks.com/snippets/jquery/smooth-scrolling/ -->
<script type="text/javascript">
  $(function() {
    $('a[href*="#"]:not([href="#"]):not([rel="nofollow"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>

<!-- <script>
  anchors.options = {
    placement: 'left',
    class: 'anchor-link'
  };
  anchors.add('.bs-content h1, .bs-content h2, .bs-content h3');
</script> -->

<!-- list.fuzzysearch.js -->
<script>
  var options = {
    valueNames: [ 'fr_fr', 'ifcproduct', 'ifctypeproduct' ],
    plugins: [ ListFuzzySearch() ]
  };
  var ifcListArchi = new List('table-domaine-architectural', options);
  var ifcListStructure = new List('table-domaine-structurel', options);
  var ifcListFluides = new List('table-domaine-fluides', options);
</script>

<!-- tablefilter.js -->
<script>
var tfConfig = {
        col_widths: null,
        
        clear_filter_text: 'Tout',
        
        no_results_message: { content: 'Aucun résultat' },
  
        col_0: 'none',
        col_1: 'select',
        col_2: 'none',
        col_3: 'select',
        col_4: 'none',
        col_5: 'none',
        col_6: 'none',
        col_7: 'none',

        /** Bootstrap integration */

        // aligns filter at cell bottom when Bootstrap is enabled
        filters_cell_tag: 'th',

        // allows Bootstrap table styling
        themes: [{
            name: 'transparent'
        }]
    };

var tf = new TableFilter(document.querySelector('#tablefilter'), tfConfig);
tf.init();
</script>
