<div class="sixteen wide column">
  <div class="ui divider"></div>
  <i class="github icon"></i> <a href="https://github.com/alexandregrignon/ressources-du-bim">contribuer sur Github</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.0/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.5.4/jquery.smooth-scroll.min.js"></script>
<script>
  $('a').smoothScroll();
</script>