<div class="ui vertical menu fixed">
  <a class="item" href="#home">
    <i class="home icon"></i> <b>{{ site.title }}</b>
  </a>
  <a class="item" href="#les-bases">
    Les bases
  </a>
  <a class="item" href="#implementation">
    Implémentation
  </a>
  <a class="item" href="#collaboration">
    Collaboration
  </a>
  <a class="item" href="#guides">
    Guides
  </a>
  <a class="item" href="#normalisation">
    Normalisation
  </a>
  <a class="item" href="#gestion-patrimoine">
    Gestion de patrimoine
  </a>
  <a class="item" href="#logiciels">
    Logiciels
  </a>
</div>