<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-59080519-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-59080519-1');
</script>

<title>
  {% if page.layout == "home" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} - {{ page.group | replace: '-', ' ' | capitalize }} &#124; {{ site.title }}
  {% endif %}
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% if page.layout == "home" %}
<meta name="description" content="{{ site.description }}">
{% elsif page.description != null %}
<meta name="description" content="{{ page.description }}">
{% endif %}
<meta name="keywords" content="{{ site.keywords }}">
<meta name="author" content="{{ site.author }}">

<!-- Social: Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@BIMstandards">
<meta name="twitter:creator" content="@a_grignon">
<meta name="twitter:title" content="{% if page.layout == "home" %}{{ page.title }}{% else %}{{ site.title }} - {{ page.title }}{% endif %}">
{% if page.layout == "home" %}
<meta name="twitter:description" content="{{ site.description }}">
{% elsif page.description != null %}
<meta name="twitter:description" content="{{ page.description }}">
{% endif %}
<meta name="twitter:image" content="{{ site.url }}/apple-touch-icon.png">

<!-- Social: Facebook / Open Graph -->
<meta property="og:url" content="{{ site.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if page.layout == "home" %}{{ page.title }}{% else %}{{ site.title }} - {{ page.title }}{% endif %}">
<meta property="og:image" content="{{ site.url }}/apple-touch-icon.png"/>
{% if page.layout == "home" %}
<meta property="og:description" content="{{ site.description }}">
{% elsif page.description != null %}
<meta property="og:description" content="{{ page.description }}">
{% endif %}
<meta property="og:site_name" content="{{ site.title }}">

<!-- Social: Google+ / Schema.org  -->
<meta itemprop="name" content="{% if page.layout == "home" %}{{ page.title }}{% else %}{{ site.title }} - {{ page.title }}{% endif %}">
{% if page.layout == "home" %}
<meta itemprop="description" content="{{ site.description }}">
{% elsif page.description != null %}
<meta itemprop="description" content="{{ page.description }}">
{% endif %}
<meta itemprop="image" content="{{ site.url }}/apple-touch-icon.png">

<!-- BIMstandards custom CSS including Bootstrap -->
<link href="/assets/css/bimstandards.css" rel="stylesheet">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- clipboard.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script>
  var clipboard = new Clipboard('.btn');
  clipboard.on('success', function(e) {
    console.log(e);
  });
  clipboard.on('error', function(e) {
    console.log(e);
  });
</script>
    
<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" href="/favicon.ico">
