<header class="navbar navbar-light navbar-static-top">
  <div class="clearfix">
    <button class="navbar-toggler pull-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#main-nav">
      &#9776;
    </button>
    <a class="navbar-brand hidden-sm-up" href="/">
      {{ site.title }}
    </a>
  </div>
  <div class="collapse navbar-toggleable-xs" id="main-nav">
    <nav class="nav navbar-nav">
      <a class="nav-item nav-link hidden-xs-down {% if page.layout == "home" %}active{% endif %}" href="/">{{ site.title }}</a>
      <a class="nav-item nav-link {% if page.group == "standards" %}active{% endif %}" href="{{ site.url }}#standards">Standards</a>
      <a class="nav-item nav-link {% if page.group == "bonnes-pratiques" %}active{% endif %}" href="{{ site.url }}#bonnes-pratiques">Bonnes pratiques</a>
      <a class="nav-item nav-link {% if page.group == "ressources" %}active{% endif %}" href="{{ site.url }}#ressources">Ressources</a>
    </nav>
  </div>
</header>

