<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="/">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if page.group == "standards" %}active{% endif %}">
        <a class="nav-link" href="{{ site.url }}#standards">Standards</a>
      </li>
      <li class="nav-item {% if page.group == "bonnes-pratiques" %}active{% endif %}">
        <a class="nav-link" href="{{ site.url }}#bonnes-pratiques">Bonnes pratiques</a>
      </li>
      <!-- <li class="nav-item {% if page.group == "fiches-echanges" %}active{% endif %}">
        <a class="nav-link" href="{{ site.url }}/fiches-echanges/">Fiches d'échanges</a>
      </li> -->
      <li class="nav-item {% if page.group == "documents" %}active{% endif %}">
        <a class="nav-link" href="{{ site.url }}#documents">Documents utiles</a>
      </li>
      <li class="nav-item {% if page.group == "blog" %}active{% endif %}">
        <a class="nav-link" href="/blog/">Blog</a>
      </li>
    </ul>
  </div>
</nav>
