<div class="bs-pageheader d-print-none">
  <div class="container">
    <div class="row">
      <div class="col-auto logo-bsfm d-flex align-items-center">
        <img src="{{ site.url }}/assets/img/logo_buildingsmart-france_blanc.png" alt="logo buildingSMART France-Mediaconstruct">
      </div>
      <div class="col">
        {% if page.group == "data-bim" %}
          <h1>Data BIM</h1>
          <p class="lead">
            Qualifier et structurer la donnée BIM.
          </p>
        {% elsif page.group == "process-bim" %}
          <h1>Process BIM</h1>
          <p class="lead">
            Organiser et piloter les échanges de données.
          </p>
        {% elsif page.group == "travailler-avec-les-ifc" %}
          <h1>Travailler avec les IFC</h1>
          <p class="lead">
            Comprendre et utiliser le format universel du BIM.
          </p>
        {% elsif page.group == "fiches-echanges" or page.group == "cv-openbim" %}
          <h1>Fiches pratiques</h1>
          <p class="lead">
            Fonctionnalités et méthodes d'échanges BIM entre logiciels.
          </p>
        {% elsif page.group == "formation-rd" %}
          <h1>Formation R&amp;D</h1>
          <p class="lead">
            A la pointe des connaissances du BIM.
          </p>
        {% elsif page.title == "Mentions légales" %}
          <h1>Mentions légales</h1>
          <p class="lead">
            BIMstandards : Qui, Pourquoi et Comment.
          </p>
        {% elsif page.title == "Contact" %}
          <h1>Contact</h1>
          <p class="lead">
            Dites nous tout.
          </p>
        {% elsif page.group == "blog" %}
          <h1>Blog</h1>
          <p class="lead">
            Toute l'actualité du site BIMstandards.
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
