{% if page.group == "premiers-pas" %}
  <h1>Premiers pas</h1>
  <p class="lead">
    Comprendre l'histoire et les enjeux des IFC (Industry Foundation Classes).
  </p>
{% elsif page.group == "classifications" %}
  <h1>Classifications</h1>
  <p class="lead">
    Connaître, organiser et renseigner les objets de la maquette numérique.
  </p>
{% elsif page.title == "openBIM" %}
  <h1>openBIM</h1>
  <p class="lead">
    Transparence et libération des données.
  </p>
{% elsif page.title == "Outils" %}
  <h1>Outils</h1>
  <p class="lead">
    Logiciels et plateformes interopérables et openBIM.
  </p>
{% endif %}