{% if page.group == "standards" %}
  <h1>Standards</h1>
  <p class="lead">
    Connaître et comprendre les standards du BIM.
  </p>
{% elsif page.group == "bonnes-pratiques" %}
  <h1>Bonnes pratiques</h1>
  <p class="lead">
    Règles communes et bons réflexes pour une collaboration openBIM.
  </p>
{% elsif page.group == "ressources" %}
  <h1>Ressources</h1>
  <p class="lead">
    Pour aller plus loin.
  </p>
{% elsif page.title == "A propos" %}
  <h1>A propos</h1>
  <p class="lead">
    BIMstandards : Qui, Pourquoi et Comment.
  </p>
{% endif %}