// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$gray-light:                #818a91;

$brand-primary:             #de0323;

$link-color:            #de0323;

$text-muted: #818a91;

$btn-primary-bg:                 #de0323;
$btn-primary-border:             #de0323;