---
---

// Your variable overrides
$primary:               #de0323;
$link-color:            #de0323;
$text-muted:            #818a91;
$btn-primary-bg:        #de0323;
$btn-primary-border:    #de0323;
$breadcrumb-bg:         none !default;
$breadcrumb-divider:    ">" !default;
$code-color:            #e83e8c !default;

// Bootstrap and its default variables
@import "bootstrap";

// BIMstandards specific CSS
$bs-primary-color: #de0323;
$bs-primary-color-soft: adjust-color($bs-primary-color, $lightness: +45%);

.container-index {
  h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.bs-pageheader {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
  background-color: $bs-primary-color;
  h1 {
    color: white;
  }
  .lead {
    color: $bs-primary-color-soft;
    margin-bottom: 0;
  }
  .logo-bsfm {
    border-right: 1px solid white;
  }
}

.bs-content-header {
  height: auto;
  color: $gray-600;
  a {
    color: $gray-600;
  }
}

.bs-content {
  .table {
    thead {
      font-size: 90%;
    }
    tbody {
      font-size: 80%;
    }
    a:not(.btn,.badge) {
      color: $gray-800;
    }
  }
  .no-results {
    position: relative;
    margin-top: -1rem;
    padding: ($spacer * 3);
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    box-shadow: inset 0 0 10px rgba($black, 0.05);
  }
  h1 {
    padding-top: $spacer;
    padding-bottom: $spacer;
    margin-bottom: $spacer;
    border-bottom: 1px solid $gray-300;
  }
  h2 {
    padding-top: $spacer;
  }
  h3 {
    padding-top: $spacer;
  }
  img {
    @include img-fluid();
  }
  .anchor-link {
    text-decoration: none;
  }
  .collapse-group {
    margin-bottom: ($spacer / 2);
  }
}

.embed-responsive-21by30 {
  &::before {
    padding-top: percentage(30 / 21);
  }
}

.bs-content-footer {
  height: auto;
  color: $gray-600;
  font-size: 95%;
  a {
    color: $gray-600;
  }
  hr {
    margin-top: $spacer * 3;
  }
}

.bs-navifc {
  .bs-navifc-group {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    .bs-navifc-group-title {
      text-decoration: none;
      color: #555555;
    }
    .bs-navifc-group-links {
      a {
        font-size: 90%;
        text-decoration: none;
        color: #888888;
      }
      .active a {
        color: $bs-primary-color;
      }
    } 
  }
}

#toc {
  ul {
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: #555555;
      }
      ul {
        padding-left: 1.1rem;
        li {
          list-style-type: none;
          a {
            font-size: 90%;
            text-decoration: none;
            color: #888888;
          }
        }
      }
    }
  }
}

.bs-footer {
  background-color: #f7f7f7;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 85%;
  a {
    color: #555555;
  }
  .bs-footer-links {
    padding-left: 0rem;
    li {
      display: inline-block;
    }
    li+li {
      margin-left: 1rem;
    }
  }
  p {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

.card:not(.cv-openbim) {
  //background-color: #f7f7f7;
  margin-bottom: $card-spacer-y;
  a {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
  }
  h5 {
    color: $link-color;
  }
}

.card-disabled {
  .card-title {
    color: $gray-600 !important;
  }
  .card-subtitle {
    color: $gray-600 !important;
  }
}

.btn-block {
  text-align: left;
}

code, pre {
  padding: .2rem .4rem;
  font-size: 90%;
  color: $code-color;
  background-color: $gray-100;
  border-radius: .25rem;
}

.post {
  margin-bottom: 60px;
  list-style-type: none;
  .post-date-author {
    color: $gray-800;
    font-size: $font-size-sm;
  }
}

//
// Callouts
//

.bs-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: .25rem;
}

.bs-callout + .bs-callout {
  margin-top: -.25rem;
}

// Variations
@mixin bs-callout-variant($color) {
  border-left-color: $color;

  h4 { color: $color; }
}

.bs-callout-info { @include bs-callout-variant($teal); }
.bs-callout-warning { @include bs-callout-variant($orange); }
.bs-callout-danger { @include bs-callout-variant($red); }
