---
---

@import "mixins/_image";
@import "variables";

$bs-primary-color: #de0323;
$bs-primary-color-soft: adjust-color($bs-primary-color, $lightness: +45%);

.bs-masthead {
  padding: 6rem 0;
  background-color: $bs-primary-color;
  text-align: center;
  .lead1 {
    font-size: 4rem;
    color: $bs-primary-color-soft;
  }
  .lead2 {
    font-size: 2rem;
    color: white;
  }
}

.bs-featurette {
  margin-top: 3rem;
  h4 {
    
  }
  p {
    color: #555;
  }
}

.bs-pageheader {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
  background-color: $bs-primary-color;
  h1 {
    color: white;
  }
  .lead {
    color: $bs-primary-color-soft;
  }
}

.bs-content {
  .table {
    font-size: 90%;
  }
  h1 {
    padding-top: $spacer;
    padding-bottom: $spacer;
    margin-bottom: $spacer;
    border-bottom: 1px solid $gray-lighter;
  }
  h2 {
    padding-top: $spacer;
  }
  h3 {
    padding-top: $spacer;
  }
  img {
    @include img-fluid();
  }
  .anchor-link {
    text-decoration: none;
  }
  .collapse-group {
    margin-bottom: ($spacer / 2);
  }
}

.bs-navifc {
  .bs-navifc-group {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    .bs-navifc-group-title {
      text-decoration: none;
      color: #555555;
    }
    .bs-navifc-group-links {
      a {
        font-size: 90%;
        text-decoration: none;
        color: #888888;
      }
      .active a {
        color: $bs-primary-color;
      }
    } 
  }
}

#toc {
  ul {
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: #555555;
      }
      ul {
        padding-left: 1.1rem;
        li {
          list-style-type: none;
          a {
            font-size: 90%;
            text-decoration: none;
            color: #888888;
          }
        }
      }
    }
  }
}

.bs-footer {
  background-color: #f7f7f7;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 85%;
  a {
    color: #555555;
  }
  .bs-footer-links {
    padding-left: 0rem;
    li {
      display: inline-block;
    }
    li+li {
      margin-left: 1rem;
    }
  }
  p {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

//
// Callouts
//

.bs-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: .25rem;
}

.bs-callout + .bs-callout {
  margin-top: -.25rem;
}

// Variations
@mixin bs-callout-variant($color) {
  border-left-color: $color;

  h4 { color: $color; }
}

.bs-callout-info { @include bs-callout-variant($brand-info); }
.bs-callout-warning { @include bs-callout-variant($brand-warning); }
.bs-callout-danger { @include bs-callout-variant($brand-danger); }
