<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav-home.html %}

    <div class="bs-pageheader d-print-none">
      <div class="container">
        {% include page-header.html %}
      </div>
    </div>
    
    {% include fil-ariane.html %}

    <div class="bs-main">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-sm-8 bs-content">
            <div class="row">
            </div>
            {{ content }}
            <div class="row">
              <div class="col-12 bs-content-footer d-print-none">
                {% if page.comments %}
                {% include disqus.html %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
