<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav-home.html %}

    {% include page-header.html %}
    
    <!-- {% include fil-ariane.html %} -->

    <div class="bs-main">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-sm-8 bs-content">
            <div class="row">
            </div>
            <h1>{{ page.title }}</h1>
            <p class="post-date-author"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%d/%m/%Y" }} par <i class="fa fa-user" aria-hidden="true"></i> {{ page.author }}</p>
            {{ content }}
            <div class="row">
              <div class="col-12 bs-content-footer d-print-none">
                {% if page.comments %}
                {% include disqus.html %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
