<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav-home.html %}

    <div class="bs-pageheader">
      <div class="container">
        {% include page-header.html %}
      </div>
    </div>

    <div class="bs-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-lg-push-9">
            <div id="toc"></div>
          </div>
          <div class="col-lg-9 col-lg-pull-3 bs-content">
            <div class="alert alert-danger" role="alert">
              <strong>Attention !</strong> Cette section est en cours d'élaboration. Certaines pages peuvent être incomplètes.
            </div>
            <div class="row">
              <div class="col-xs-12 bs-content-header">
                {% include content-header.html %}
              </div>
            </div>
            {{ content }}
            <div class="row">
              <div class="col-xs-12 bs-content-footer">
                {% include content-footer.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>