<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav-home.html %}

    <div class="bs-pageheader">
      <div class="container">
        {% include page-header.html %}
      </div>
    </div>

    <div class="bs-main">
      <div class="container">
        <div class="row">
          <div class="col-md-12 bs-content">
            <div class="row">
              <div class="col-xs-12 bs-content-header">
                {% include content-header.html %}
              </div>
            </div>
            {{ content }}
            <div class="row">
              <div class="col-xs-12 bs-content-footer">
                {% include content-footer.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>