<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav-home.html %}

    {% include page-header.html %}
    
    <!-- {% include fil-ariane.html %} -->

    <div class="bs-main">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-9 order-2 order-lg-1 bs-content">
            {{ content }}
            <div class="row">
              <div class="col-12 bs-content-footer d-print-none">
                {% include content-footer.html %}
                {% if page.comments %}
                {% include disqus.html %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 order-1 order-lg-2 d-print-none">
            {% include box-sommaire.html %}
            {% include box-sponsoring-vertical.html %}
            {% include box-dernieres-fiches.html %}
            <!-- 
            {% include box-liens-utiles.html %}
            {% include box-com.html %}
             -->
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
