<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav-home.html %}

    <div class="bs-pageheader hidden-print">
      <div class="container">
        {% include page-header.html %}
      </div>
    </div>
    
    <div class="visible-print-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">http://www.bimstandards.fr</li>
              <li class="breadcrumb-item">{{ page.group }}</li>
              <li class="breadcrumb-item">{{ page.title }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="bs-main">
      <div class="container">
        <div class="row">
          <div class="col-12 bs-content">
            <div class="row">
              <div class="col-12 bs-content-header hidden-print">
                {% include content-header.html %}
              </div>
            </div>
            {{ content }}
            <div class="row">
              <div class="col-12 bs-content-footer hidden-print">
                {% include content-footer.html %}
                {% if page.comments %}
                {% include disqus.html %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
