<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav-home.html %}

    <div class="bs-pageheader d-print-none">
      <div class="container">
        {% include page-header.html %}
      </div>
    </div>
    
    <div class="d-print-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">http://www.bimstandards.fr</li>
              <li class="breadcrumb-item">{{ page.group }}</li>
              <li class="breadcrumb-item">{{ page.title }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    
    

    <div class="bs-main">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1 bs-content">
            <div class="row">
              <div class="col-12 bs-content-header d-print-none">
                {% include content-header.html %}
              </div>
            </div>
            
            <div class="row">
              <div class="col-12">
                <a class="btn btn-light" href="{{ site.url }}/fiches-echanges/" role="button"><i class="fa fa-caret-left" aria-hidden="true"></i> retour à la liste des fiches</a>
                <h1>{{ page.titre }}</h1>
              </div>
            </div>
            <dl class="row">
              <dt class="col-sm-4">Source / Version</dt>
              <dd class="col-sm-8"><strong>{{ page.source_nom }}</strong> ({{ page.source_editeur }}) / {{ page.source_version }}</dd>
              
              <dt class="col-sm-4">Destination / Version</dt>
              <dd class="col-sm-8"><strong>{{ page.destination_nom }}</strong> ({{ page.destination_editeur }}) / {{ page.destination_version }}</dd>
              
              <dt class="col-sm-4">Usage-Métier</dt>
              <dd class="col-sm-8">{{ page.usage_metier }}</dd>
              
              <dt class="col-sm-4">Mise à jour</dt>
              <dd class="col-sm-8"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ page.maj }}</dd>
              
              <dt class="col-sm-4">Téléchargement</dt>
              <dd class="col-sm-8"><a class="btn btn-primary" href="../{{ page.nom_pdf }}" download="Fiche {{ page.source_nom }} - {{ page.destination_nom }}.pdf" role="button">Télécharger la fiche</a></dd>
            </dl>
            
            <div class="row">
              <div class="col-12">
                <div class="embed-responsive embed-responsive-21by30">
                  <iframe class="embed-responsive-item" src="http://bimstandards.fr/assets/js/pdfjs/web/viewer.html?file=../../../../fiches/{{ page.nom_pdf }}" id="fraViewDocumentsPDFViewer" runat="server"></iframe>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 bs-content-footer d-print-none">
                {% include content-footer.html %}
                {% if page.comments %}
                {% include disqus.html %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
