<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav-home.html %}

    {% include page-header.html %}
    
    {% include fil-ariane.html %}

    <div class="bs-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 order-lg-2 d-print-none">
            <ul class="nav flex-column">
            {% for page in site.revit %}
              <li class="nav-item">
                <a class="nav-link" href="{{ page.url }}">{{ page.title }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
          <div class="col-lg-9 order-lg-1 bs-content">
            <div class="row">
              <div class="col-12 bs-content-header d-print-none">
                {% include content-header.html %}
              </div>
            </div>
            
            <h1><span class="badge badge-secondary">Méthode Revit</span><br>{{ page.title }}</h1>
            {{ content }}
            <div class="row">
              <div class="col-12 bs-content-footer d-print-none">
                {% include content-footer.html %}
                {% if page.comments %}
                {% include disqus.html %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
